
ion-header.header {
  border-bottom: 3px solid #ffd699; // light orange
}

.app-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 119, 0);
}

.subtitle {
  font-size: 14px;
  color: gray;
}

.premium-btn{
    --background: linear-gradient(90deg, rgb(255, 119, 0) 0%, #f2cb49 100%);
    --color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: none; 
}

.premium-btn:active,
.premium-btn.ion-activated {
    --background: rgb(255, 119, 0);
}

ion-label{
  font-size: 12px;
}

.tabs-bar {
  --background: #ffffff;
  border-top: 1px solid #ddd;
  // Explicitly set min-height to include the safe area buffer for problematic Android devices (OnePlus)
  min-height: calc(56px + var(--ion-safe-area-bottom));
}

ion-label.tab-button-label {
  font-size: 10px; // Adjust size
}