
ion-header.header {
  border-bottom: 3px solid #ffd699; // light orange
}

ion-segment-button {
  
  // --- DEFAULT (UNSELECTED) STATE ---
  
  // Text color for unselected buttons
  --color: #666; 
  
  // Background color for unselected buttons
  --background: transparent; 
  

  // --- CHECKED (SELECTED) STATE ---
  
  // Text/icon color for the selected button (using your brand orange)
  --color-checked: rgb(255, 119, 0); 
  
  // Background color for the selected button 
  // We'll leave this transparent to only show the indicator line.
  --background-checked: transparent; 
}

/* Target the ion-segment container to style the moving indicator bar.
*/
ion-segment {
  // Color of the sliding indicator line (using your brand orange)
  --indicator-color: rgb(255, 119, 0); 
  
  // Optional: Change the background of the entire segment bar
  // --background: #fff;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 119, 0);
}

.subtitle {
  font-size: 14px;
  color: gray;
}

.premium-btn{
    --background: linear-gradient(90deg, rgb(255, 119, 0) 0%, #f2cb49 100%);
    --color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: none; 
}

.premium-btn:active,
.premium-btn.ion-activated {
    --background: rgb(255, 119, 0);
}

ion-label{
  font-size: 12px;
}

.tabs-bar {
  --background: #ffffff;
  border-top: 1px solid #ddd;
  // Explicitly set min-height to include the safe area buffer for problematic Android devices (OnePlus)
  min-height: calc(56px + var(--ion-safe-area-bottom));
}

ion-label.tab-button-label {
  font-size: 10px; // Adjust size
}

.lang-select {
  // Makes the select dropdown smaller and ensures no extra padding
  max-width: 80px;
  --padding-start: 0;
  font-size: 14px;
}
.lang-col {
  // Adds a little space on the right edge
  padding-right: 10px;
}

