:\development\mobile_app\SDPP\Tapobhoomi\src\app\home\home.page.scss
.media-item {
  min-height: 90px;
  --padding-start: 12px;
  --inner-padding-end: 12px;
}

.media-avatar {
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
}

.media-label h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.media-desc {
  font-size: 15px;
  color: #555;
  margin-bottom: 2px;
}

.media-short {
  font-size: 13px;
  color: #888;
}
