.modal-container {
  margin: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin :  0px 0px 15px  10px;
  color: rgb(255, 119, 0);
}

.good {
  color: green;
  font-weight: bold;
}

.bad {
  color: red;
  font-weight: bold;
}

.auspicious {
  color: orange;
  font-weight: bold;
}

.calendar-data {
  font-size: 0.9em; // Using relative size
}