
<ion-content>
  <div #calendarContainer> 
    <!-- Month Header -->
      <div class="month-header">
        <h2>{{ monthNameDisplay }} {{ translatedYearDisplay }}</h2>
        <div class="nav-buttons">
          <ion-button fill="clear" class="arrow-btn" (click)="prevMonth()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" class="arrow-btn" (click)="nextMonth()">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <!-- Calendar Grid -->
      <div class="calendar-grid">
        <div class="weekdays">
          <div>{{ weekName['SUNDAY'] }}</div><div>{{ weekName['MONDAY'] }}</div>
          <div>{{ weekName['TUESDAY'] }}</div><div>{{ weekName['WEDNESDAY'] }}</div><div>{{ weekName['THURSDAY'] }}</div>
          <div>{{ weekName['FRIDAY'] }}</div> <div>{{ weekName['SATURDAY'] }}</div>
        </div>
        <div class="weeks">
          <div class="week" *ngFor="let week of weeks">
            <div *ngFor="let d of week"
                class="day"
                [class.blank]="!d.date"
                [class.festival-day]="hasFestival(d)"
                [class.today]="isToday(d)"
                (click)="d.date ? openDayDetails(d) : null">
    
              <span *ngIf="d.date" 
                    class="date" 
                    (click)="openDayDetails(d); $event.stopPropagation()">
                    
                    {{ dateDisplay[''+d.date] }}
              </span>
    <!-- <div *ngIf="hasFestival(d)" class="festival-dot"></div> -->
              <!-- <span class="event-small" *ngIf="!d.badge">{{ d.label }}</span>
              <span class="event-badge" *ngIf="d.badge">{{ d.label }}</span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="today-details-panel" *ngIf="todayDetails">
        <div class="details-header">
            <h5>{{ dateDetailsDisplay['TODAY_PANCHANG_TITLE'] }}</h5> 
        </div>
        <ion-list lines="full">
            <ion-item>
                <ion-label>{{ dateDetailsDisplay['SUNRISE'] }}</ion-label>
                <ion-text slot="end">{{ todayDetails.sunrise || '--' }}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label>{{ dateDetailsDisplay['SUNSET'] }}</ion-label>
                <ion-text slot="end">{{ todayDetails.sunset || '--' }}</ion-text>
            </ion-item>
            <ion-item *ngIf="todayDetails.festival">
                <ion-label>{{ dateDetailsDisplay['FESTIVAL'] }}</ion-label>
                <ion-text slot="end" color="danger">{{ todayDetails.festival }}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label>{{ dateDetailsDisplay['TITHI'] }}</ion-label>
                <ion-text slot="end">{{ todayDetails.tithi || '--' }}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label>{{ dateDetailsDisplay['PANCHANG'] }}</ion-label>
                <ion-text slot="end">{{ todayDetails.panchang || '--' }}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label>{{ dateDetailsDisplay['DAYRATING'] }}</ion-label>
                <ion-text slot="end">{{ todayDetails.dayRating || '--' }}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label></ion-label>
            </ion-item>
        </ion-list>
      </div>
  </div>
</ion-content>
